<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <td><h3> Title</h3></td>
      <td><h3> description</h3></td>
      <td><h3> image_url</h3></td>
      <td><h3> Price</h3></td>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
   
     <tr>
        <td><%= product.title %> </td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <td> <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>


<%= link_to 'New Product', new_product_path %>
